*.RData
*.pdf
*.tar.gz
*.gz
.snakemake
*.bed
*.tab
*.lst
tmp*
*.gff
*.gff3
*.gtf
*.fasta
*.fna
*.faa
*.fa
*.nwk
RAxML*
*.pal2nal.out
*AA
*aln
*bestTree
*bf
*dat
*done
*DS_Store
*emptyBlocksSeqs
*err
*faa
*fai
*fas
*fasta
*fit
*gff
*htm
*ibf
*idx
*json
*labels
*lf
*log
*lst
*md
*mpinode0
*nex
*noGapSeqs
*noSpaces
*noStopCodon
*nr
*nuc
*nwk
*out
*out-gb
*pack
*PANTHER
*params
*pdf
*png
*ps
*raw
*RAxML
*RData
*reduced
*sample
*tab
*tre
*tree
*tsv
*uniqueId
alignOrthologs/.cache/*
alignOrthologs/2_approach_by_gene/config.pantherfams.yaml
alignOrthologs/.lesshst
